.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px; /* Espaço entre os botões */
}

.filters button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.2s ease;
}

.filters button:hover {
    background-color: #0056b3;
}