<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha ToDoList</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/tasks.css">
    <link rel="stylesheet" href="/static/css/filters.css">
    <link rel="stylesheet" href="/static/css/date.css">
    <link rel="stylesheet" href="/static/css/labels.css">
    <link rel="stylesheet" href="/static/css/headerActions.css">
</head>
<body>
    <div class="container">
        <div class="header-actions">
            <button id="btn-settings" onclick="alert('Abrir configurações!')" title="Configurações">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="3"></circle>
                    <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 
                        2 0 1 1-2.83 2.83l-.06-.06a1.65 1.65 0 0 0-1.82-.33
                        1.65 1.65 0 0 0-1 1.51V21a2 2 0 1 1-4 0v-.09
                        a1.65 1.65 0 0 0-1-1.51 1.65 1.65 0 0 0-1.82.33l-.06.06
                        a2 2 0 1 1-2.83-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82
                        1.65 1.65 0 0 0-1.51-1H3a2 2 0 1 1 0-4h.09
                        a1.65 1.65 0 0 0 1.51-1 1.65 1.65 0 0 0-.33-1.82l-.06-.06
                        a2 2 0 1 1 2.83-2.83l.06.06a1.65 1.65 0 0 0 1.82.33
                        1.65 1.65 0 0 0 1-1.51V3a2 2 0 1 1 4 0v.09
                        a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06
                        a2 2 0 1 1 2.83 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82
                        1.65 1.65 0 0 0 1.51 1H21a2 2 0 1 1 0 4h-.09
                        a1.65 1.65 0 0 0-1.51 1Z" />
                </svg>

            </button>
            <button id="btn-logout" onclick="finishSession()" title="Logout">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 16 16 12 12 8"></polyline>
                    <line x1="8" y1="12" x2="16" y2="12"></line>
                </svg>
            </button>
        </div>

        <h1 class="animated">Lista de Tarefas</h1>

        <div class="input-area">           
            <label for="task-input">Título da Tarefa:</label>
            <input type="text" id="task-input" placeholder="Adicione um título para a tarefa...">
            <label for="taskDescription">Descrição da Tarefa:</label>
            <textarea id="taskDescription" rows="5" placeholder="Adicione detalhes da tarefa..."></textarea>

            <div class="input-area-child">
                <label for="taskDeadline">Prazo de Entrega:</label>
                <input type="date" id="taskDeadline">
                <input type="time" id="taskTime">
                <button id="add-task-btn" onclick="addTaskToBackend()">Adicionar</button>
            </div>
            
        </div>

        <ul id="task-list">
            </ul>

        <div class="filters">
            <button id="filter-all" class="active" onclick="getTasks()">Todas</button>
            <button id="filter-active" class="active" onclick="listTasks('active')">Ativas</button>
            <button id="filter-completed" class="active" onclick="listTasks('completed')">Concluídas</button>
            <button id="filter-completed" class="active" onclick="listTasks('priority')">Prioridades</button>
        </div>

        <div id="taskContainer">
            <ul id="taskList">
                                
            </ul>           
        </div>
    </div>

    <!--
        <ul>
          <li>
            <ul>
              <li>
            </ul>
           <li>     
        </ul>
    -->

    <script src="/static/js/script.js"></script>
</body>
</html>